@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.toastification--error {
  background-color: hsl(0, 20%, 30%) !important;
  transform: scale(0.9) !important;
}
